<%= render "shared/header" %>
<div class="main">
 <div class=head>
   <h2 class="wellcom">ようこそ 山田花子さん</h2>
   <div class="form" id="form-1" >
    <%=link_to '日々の記録を入力する', new_kaigo_path, class: "form" %>
   </div>
 </div>
 <div class="contents-back">
  <table class="contents-main">
    <tr>
      <th>日付</th>
      <th>体温</th>
      <th>血圧</th>
      <th>脈拍</th>
      <th>朝食</th>
      <th>昼食</th>
      <th>夕食</th>
      <th>入浴</th>
      <th>睡眠時間</th>
      <th>トイレ回数</th>
      <th>排便</th>
      <th>記録</th>
    </tr>
    <tr>
      <td>7/7</td>
      <td>36.5</td>
      <td>123/67</td>
      <td>67</td>
      <td>10割</td>
      <td>10割</td>
      <td>10割</td>
      <td>済</td>
      <td>6時間</td>
      <td>５回</td>
      <td>あり</td>
      <td>あり</td>
    </tr>
    <tr>
      <td>7/6</td>
      <td>36.5</td>
      <td>123/67</td>
      <td>67</td>
      <td>10割</td>
      <td>10割</td>
      <td>10割</td>
      <td>済</td>
      <td>6時間</td>
      <td>５回</td>
      <td>あり</td>
      <td>あり</td>
    </tr>
    <tr>
      <td>7/5</td>
      <td>36.5</td>
      <td>123/67</td>
      <td>67</td>
      <td>10割</td>
      <td>10割</td>
      <td>10割</td>
      <td>済</td>
      <td>6時間</td>
      <td>５回</td>
      <td>あり</td>
      <td>あり</td>
    </tr>
    <tr>
      <td>7/4</td>
      <td>36.5</td>
      <td>123/67</td>
      <td>67</td>
      <td>10割</td>
      <td>10割</td>
      <td>10割</td>
      <td>済</td>
      <td>6時間</td>
      <td>５回</td>
      <td>あり</td>
      <td>あり</td>
    </tr>
    <tr>
      <td>7/3</td>
      <td>36.5</td>
      <td>123/67</td>
      <td>67</td>
      <td>10割</td>
      <td>10割</td>
      <td>10割</td>
      <td>済</td>
      <td>6時間</td>
      <td>５回</td>
      <td>あり</td>
      <td>あり</td>
    </tr>
    <tr>
      <td>7/2</td>
      <td>36.5</td>
      <td>123/67</td>
      <td>67</td>
      <td>10割</td>
      <td>10割</td>
      <td>10割</td>
      <td>済</td>
      <td>6時間</td>
      <td>５回</td>
      <td>あり</td>
      <td>あり</td>
    </tr>
    <tr>
      <td>7/1</td>
      <td>36.5</td>
      <td>123/67</td>
      <td>67</td>
      <td>10割</td>
      <td>10割</td>
      <td>10割</td>
      <td>済</td>
      <td>6時間</td>
      <td>５回</td>
      <td>あり</td>
      <td>あり</td>
    </tr>
  </table>
 </div>
</body>